
#templates {
    display: none;
}

/* Tabs */
.ui-tabs .ui-tabs-nav { 
    background: none;
    border: 0;
    color: #030303;
}

.ui-tabs .ui-tabs-nav li {
    background:#dadada;
    font-size: 14px; 
    font-weight: bold;
    margin-left: 5px;
    outline:none; 
    -moz-border-radius-topleft:4px; 
    -moz-border-radius-topright:4px;
    -webkit-border-top-left-radius:4px; 
    -webkit-border-top-right-radius:4px;  
}

.ui-tabs .ui-tabs-nav .ui-state-default {
    border-color: #0c0c0c; 
}

.ui-tabs .ui-tabs-nav .ui-state-default.ui-state-active {
    border-color: #c1c1c1;
}

.ui-tabs .ui-tabs-nav .ui-state-default.ui-state-hover {
    border-color: #c1c1c1;
}

.ui-tabs .ui-tabs-nav .ui-state-default a {
    background: #ebebeb;
    color: #656565;
    text-decoration:none;
}

.ui-tabs .ui-tabs-nav .ui-state-default.ui-state-active a {
    background: #dadada;
    color: #030303;
    text-decoration:none;
}

.ui-tabs .ui-tabs-nav .ui-state-default.ui-state-hover a {
    background: #eeeeee;
    color: #000;
    text-decoration:none;
}

#reportui {
    background:inherit;
    border:0;    
}

#reportui .ui-tabs-panel { 
    background:#dadada; 
    border:1px solid #c1c1c1;
    border-radius:3px;
    padding:8px; 
    -moz-border-radius:3px; 
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.2); 
    -webkit-border-radius:3px; 
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2); 
}

#filtersTab { 
    padding:0; 
}

/* Categories */
#filtersAccordion .ui-accordion-header { 
    background: url("../../images/ltblue_gradient.gif") repeat-x scroll 0 0  #ffffff;
    color: #404040;
    font-size: 130%;
    font-weight: bold;
}

#filtersAccordion .ui-accordion-content { 
    background: url("../../images/ltblue_gradient.gif") repeat-x scroll 0 0  #ffffff;
    padding: 1em;
}

#filtersAccordion .ui-accordion-header.ui-state-default a, 
#filtersAccordion .ui-accordion-header.ui-state-default a:link,
#filtersAccordion .ui-accordion-header.ui-state-default a:visited,
#filtersAccordion .ui-accordion-header.ui-state-hover a,
#filtersAccordion .ui-accordion-header.ui-state-hover a:hover  { 
    color: #656565;
    text-decoration:none;
}

#filtersAccordion .ui-accordion-header.ui-state-active a, 
#filtersAccordion .ui-accordion-header.ui-state-active a:link,
#filtersAccordion .ui-accordion-header.ui-state-active a:visited 
#filtersAccordion .ui-accordion-header.ui-state-default.ui-state-hover a,
#filtersAccordion .ui-accordion-header.ui-state-default.ui-state-hover a:hover { 
    color: #333333;
    text-decoration:none;
}

.criteriaSection { 
    background: url("../../images/ltblue_gradient.gif") repeat-x scroll 0 0  #ffffff;
    border-radius:3px;
    padding: 1em;
    -moz-border-radius:3px; 
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.2); 
    -webkit-border-radius:3px; 
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2); 
}

.clearfix:after 
{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
   


/* Form Table */
.form-table { 
    margin:0; 
    position:relative; 
    width:100%; 
}
.form-table TH A, .form-table TH DIV.nosort, .form-table TH A { 
    background:#747474 url("../../images/bg_th.gif") repeat-x center; 
    color:#fff; display:block; 
    padding:0 
}
.form-table TH A, .form-table TH DIV { 
    padding:7px; 
}
.form-table TH A:hover { 
    text-decoration:underline;
 }
.form-table TR.graybar:hover {
    background: url("../../images/bg_grayfade.gif") repeat-x 0 1px #dfdfdf; 
    border-bottom:1px solid #ccc; 
    font-size:120% 
}
.form-table TR.hilite, .form-table TD.hilite { 
    background: #fff2b0 url("../../images/bg_hilite.gif") repeat-x center; 
    font-weight:bold  
}
.form-table TD { 
    height:2.7em !important;
    line-height:1.3em; 
    padding:5px 10px;
    vertical-align:top;   
}

.form-table .title {
    font-weight: bold;
}

.form-table TH.sort_descending A {
    background: transparent url("../../images/arrow_sort_descending.gif")
        no-repeat right;
    padding-right: 22px;
}

.form-table TH.sort_ascending A {
    background: transparent url("../../images/arrow_sort_ascending.gif")
        no-repeat right;
    padding-right: 22px;
}

.form-table TH.action,.form-table TD.action,.form-table TH.checkbox,.form-table TD.checkbox
    {
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
}

.form-table TD.action A,.form-table TD.action INPUT {
    font-size: 9px;
}

.form-table TR:hover {
    background: transparent;
}

.form-table TR.odd {
    background: #fff
}

.form-table TD.label {
    width: 180px;
    padding: 6px 10px;
    text-align: left;
    border-bottom: 1px dotted #eee;
    background: #f3f9fb;
    height: 2.7em !important
}

#diseasesSection .form-table TD.label, #interventionsSection .form-table TD.label {
    width: 0px;
}

.form-table TD.label LABEL {
    padding: 4px 10px 0 10px;
    margin: 0;
    font-size: 100%;
    display: block;
    text-align: left;
}

#reportui .form-table TD.value {
    padding: 7px 8px !important;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
    height: 2.7em !important
}

.form-table TD.value INPUT,.form-table TD.value SELECT {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.form-table TD.value INPUT[type=text] {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 1px 1px
        rgba(0, 0, 0, 0.3) inset, 0 0 0 rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 1em;
    padding: 3px 4px;
}

/* Buttons */
#main2 .actionsrow {
    background: #dcdcdc;
    border-top: 1px solid #fff;
    margin-top: 0;
    padding: 10px !important;
}

#filtersAccordion #diseasesSection, #filtersAccordion #interventionsSection {
    padding: 0;
}

.interventionrescol {
    width: 556px;
    float: left;
    border-right: 1px solid #6d80a2;
}

.diseaserescol {
    width: 706px;
    float: left;
    border-right: 1px solid #6d80a2;
}

/* Inner Search Widgets */
.selectwidget {
    background: #8092b1;
    border: 1px solid #6d80a2;
    border-radius: 5px;
    width: 922px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
}

/* Disease Search Widgets */
.selectDiseasewidget {
    background: #8092b1;
    border: 1px solid #6d80a2;
    border-radius: 5px;
    width: 1072px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
}


.treecol {
    width: 374px;
    float: left;
    border-right: 1px solid #6d80a2;
}

.selectionscol {
    width: 350px;
    float: left;
    padding-left: 15px;
}

.form-table TD.value INPUT.autocomplete {
    width: 280px !important;
    float: left;
}

.whiteline {
    border-bottom: 1px solid #fff;
    clear: both;
    padding-top: 7px;
}

.quickresults_header .ui-widget {
    float: left;
}

.quickresults_header .ui-widget INPUT {
    padding-right: 30px;
}

#diseasesSection .quickresults_header .ui-widget INPUT {
    width: 250px;
}

#interventionsSection .quickresults_header .ui-widget INPUT {
    width: 190px;
}

.search_inner_button {
    margin-top: 8px !important;
    margin-left: -20px !important;
    display: inline;
    position: relative;
}

.quickresults_header {
    width: 528px;
    background: #fcb040;
    margin: 0;
    padding: 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    min-height: 26px;
}

.dis_quickresults_header {
    width: 678px;
    background: #fcb040;
    margin: 0;
    padding: 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    min-height: 26px;
}

.quickresults_count {
    font-weight: bold;
    padding: 5px 0 0 0;
    text-shadow: #fedaa4 1px 1px 0;
}

.quickresults_header_buttons {
    text-align: center;
}

.quickresults_header_buttons A {
    background: #fcbc5d;
    color: #333;
    font-weight: bold;
    font-size: 11px;
    display: block;
    margin: 4px 0 0 0;
    padding: 0 7px;
    float: left;
    text-decoration: none;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#diseasesSection .quickresults_header_buttons A {
    margin-right: 0.4em;
}

#interventionsSection .quickresults_header_buttons A {
    margin-right: 0.3em;
}

.quickresults_header_buttons A:hover {
    color: #000;
    background: #fedaa4;
    border: 1px solid #fff;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.quickresults_header_buttons DIV {
    margin-left: 10px;
}

.quickresults_body {
    height: 250px;
    margin-bottom: 10px;
    overflow: auto;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 1px 1px
        rgba(0, 0, 0, 0.3) inset, 0 0 0 rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 1em;
}

#diseasesSection .quickresults_body {
    width: 680px;
	padding: 10px 5px;
}

#interventionsSection .quickresults_body {
	width: 520px;
    padding: 10px;
}

#interventionsSection .quickresults_body LI {
    background: #FAFAFA;                                                                                                /* for non-CSS3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFF', endColorstr='#E0E0E0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E0E0E0));                            /* for WebKit browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #E0E0E0);                                                            /* for Firefox 3.6+ */
    border: 1px solid #D8E6F3;
    margin: -1px 0px 0px 0px;
    padding: 2px 5px; 
}

#interventionsSection .quickresults_body LI:HOVER {
    background: #D0D0FF;                                                                                                /* for non-CSS3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFF', endColorstr='#A0A0F0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#A0A0F0));                            /* for WebKit browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #A0A0F0);                                                            /* for Firefox 3.6+ */
    cursor: hand; cursor: pointer;
    text-decoration: underline; 
}

.quickresults2 {
    width: 350px;
    height: 100px;
    overflow: auto;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 1px 1px
        rgba(0, 0, 0, 0.3) inset, 0 0 0 rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 1em;
    padding: 3px 4px;
}

.quickresults3 {
    width: 350px;
    height: 100px;
    margin-bottom: 10px;
    overflow: auto;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 1px 1px
        rgba(0, 0, 0, 0.3) inset, 0 0 0 rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 1em;
    padding: 3px 4px;
}

.quickresults_innerheader {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}

.selectwidget H3 {
    background: 0;
    border: 0;
    color: #fff;
    padding: 10px 0 6px 0;
    font-size: 110%;
}

#disease_selections_count, #intervention_selections_count {
    float: right;
    margin-top: -2.3em;
    font-weight: bold;
    padding: 1px 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 90%;
}

.selections_count_normal {
    color: #fff;
    background: #475b82;
}

.selections_count_highlight {
    color: #000;
    background: #FFFF00;
}

.selectionslist_body {
    overflow: auto;
    color: #fff;
    background: #70809B;
    height: 100%;
    padding: 7px;
    border: 1px solid #70809B;
    border-right: 1px solid #606E85;
    border-bottom: 1px solid #606E85;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.selectionslist_body LI {
    overflow: hidden;
    background: #dcdcdc;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    margin-bottom: 6px;
    padding: 2px 3px 2px 8px;
    border: 1px solid #6d80a2;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
}

.selectionslist_body LI.selected_intv_by_type {
    background: #dcf0dc;
}

.selectionslist_body LI:hover {
    background: #dadada;
    color: #000;
}

.selectionslist_body LI.selected_intv_by_type:hover {
    background: #daecda;
    color: #000;
}

.selectionslist_body LI A {
    float: left;
    background: #dcdcdc url("../../images/ico_remove.gif") no-repeat;
    position: relative;
    left: -5px;
    top: 4px;
    width: 12px;
    height: 12px;
}

.selectionslist_body LI A:hover {
    background: #dadada url("../../images/ico_remove.gif") no-repeat 0px -188px;
}

.selectionslist_body LI DIV {
    float: left;
    width: 95%;
}

.selectionElementText {
    font-size: 0.8em;
    font-weight: normal;
}

.selectionFeaturedElement {
    font-size: 1.1em;
    font-weight: bolder;
}

.pdq-tree-highlight {
    color: #E00000;
    font-weight: bolder;
}

.form-table TD.value INPUT.hintTextbox {
    float: left;
    width: 230px !important;
    font-style: italic;
    color: #999 !important;
}

.form-table TD.value INPUT.hintTextboxActive {
    float: left;
    width: 230px !important;
    font-style: normal;
    color: #333;
}

/* Tree mockup hover styles */
.form-table TD TD {
    margin: 0;
    padding: 0;
    height: auto !important
}

#treecontainer A {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 16px;
    padding: 1px;
}

#treecontainer A:hover,#treecontainer A:focus {
    background: #fcb040 url("../../images/btn_select.png") no-repeat right;
    color: #fff;
    text-decoration: none;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-right: 65px;
}

#treecontainer A.ygtvlabel_highlight {
    font-weight: normal;
}

#treecontainer A SPAN.highlight {
    font-weight: bold;
    color: #c00;
}

/* List hover styles */
.selectlist A {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 16px;
    padding: 1px;
}

.selectlist A:hover {
    background: #fcb040 url("../../images/btn_select.png") no-repeat right;
    color: #fff;
    text-decoration: none;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-right: 65px;
}

.selectlist A SPAN.highlight {
    font-weight: bold;
    color: #c00;
}

/* Search Results styles */
.results_count_bar {
    height: 2.7em;
    border-bottom: 1px solid #ccc;
}

.results_options_bar {
    border-bottom: 1px solid #999;
    border-left: 1px solid #ccc;
    border-right: 1px solid #999;
    background: #f3f3f3 url("../../images/bg_grayfade.gif") repeat-x 1px bottom;
    height: 2.9em;
}

.results_count {
    float: left;
    width: 80%;
    padding: 5px 0;
}

.results_config {
    float: right;
    width: 20%;
    padding: 5px 0;
}

.results_config LABEL {
    display: inline;
}

.sort_by {
    width: 32em;
    float: left;
    padding: 7px;
    border-right: 1px solid #999;
    height: 24px;
    font-size: 13.3px;
    line-height: 24px;
}

.sort_by SELECT {
    width: 27em;
}

A.btn_results_options_bar {
    color: #333;
    font-weight: bold;
    padding: 10px 15px 11px 15px;
    display: block;
    float: left;
    text-decoration: none;
    border-left: 1px solid #eee;
    border-right: 1px solid #999;
    text-shadow: #fff 1px 1px 0;
}

A.btn_results_options_bar:hover {
    background: #f3f3f3 url("../../images/bg_grayfade.gif") repeat-x 1px 20px;
}

TABLE.report_output {
    background: #fff;
}

TABLE.report_output TR {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

TABLE.report_output TR.odd {
    background: #f7f7f7;
}

TABLE.report_output TH {
    padding: 7px;
    white-space: nowrap;
    color: #757575;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

TABLE.report_output TD {
    padding: 7px 7px 10px 7px;
    border-bottom: 1px solid #999;
}

TABLE.report_output TD.first {
    padding-left: 0;
    padding-top: 15px;
    padding-right: 15px;
    white-space: nowrap;
}

.identifier {
    background: #aa0202;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 3px 8px 3px 14px;
    border: 1px solid #860303;
    margin-left: -10px;
    white-space: nowrap;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: #860303 -1px -1px 0;
}

.tsr_link {
    margin-top: 10px;
    padding: 4px 10px 4px 31px;
    background: url("../../images/ico_doc.gif") no-repeat 12px 3px;
}

TABLE.report_output_inner TR {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

TABLE.report_output_inner TH {
    padding-left: 0;
    padding-top: 10px;
    font-size: 18px;
    font-weight: normal;
    white-space: normal;
    color: #333;
    border: 0;
    background: none;
}

TABLE.report_output_inner TD {
    border-bottom: 0;
    white-space: normal;
    font-size: 13.3px;
}

TABLE.report_output_inner TD.one_third {
    width: 267px;
    white-space: normal;
}

TABLE.report_output_inner TD.first {
    padding: 10px 15px 0 0;
    white-space: normal;
}

TABLE.report_output_inner TD.second {
    padding: 10px 15px;
}

TABLE.report_output_inner TD.third {
    padding: 10px 15px;
}

TABLE.report_output_inner TD LABEL {
    font-size: 11px;
    color: #757575;
    font-weight: bold;
}

TABLE.report_output_inner TD DIV {
    padding-bottom: 12px;
    font-weight: normal;
}

.right {
	float: right;
}