

/*
span.pagebanner {
	background-color: #fff;
	padding: 2px 4px 2px 4px;
	width: 89%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	background-color: #fff;
    padding: 2px 4px 2px 4px;
	width: 89%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}
*/

/*
span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}
*/

/**
table.its H2
{
    color:#5c5c5c; background:#fff; padding:10px 5px 0 7px; border-bottom:0; border-top:1px solid #e7e7e7;
}

table.its thead tr {
    width:600px; border:1px solid #cacaca; border-right:0; background:#fff;
}

table.its TH
{
    background:#c4cccb; font-size:92%; padding:7px 6px 5px 6px; border-bottom:2px solid #dcdcdc; white-space:nowrap;
}

table.its TH A
{ 
	color:#333; text-decoration:underline 
}

table.its tr.even {
	background-color: #f7f9ea;

}
*/

/*div.table{*/
  /*/*border : 1px solid #1E1EA6;*/
  /*border-color:Red;*/
  /*border : 1px solid rgb(102,102,102);*/
  /*padding : 0.25px;*/
  /*position : relative;*/
/*}*/

table.its H2
{ color:#5c5c5c; background:#fff; padding:10px 5px 0 7px; border-bottom:0; border-top:1px solid #e7e7e7 }
div.table TABLE
{ width:787px; border:1px solid #cacaca; border-right:0; background:#fff;}
table.its TR.odd
{ background:#f7f9ea }
table.its TH
{ background:#c4cccb; font-size:92%; padding:7px 6px 5px 6px; border-bottom:2px solid #dcdcdc; white-space:nowrap;  }
table.its TH A
{ color:#333; text-decoration:underline }
table.its TD
{ padding:6px; font-size:92%;  }
table.its TD.edit, table.its TH.edit
{ text-align:center; padding-left:2px; padding-right:2px }
table.its TD A.protocoltitle
{ white-space:nowrap; text-decoration:underline }
.toppaging
{ color:#ccc; font-size:120%; float:right; width:7em; text-align:right; margin-top:-2em; padding-right:10px }
.paging
{ font-size:120%; padding:10px }
.paging A
{ padding-right:5px }
